server.port: 8080
spring:
  application: dbmt-app
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:h2:file:/opt/gant/dbmt/config/dbmt.data
    driver-class-name: org.h2.Driver
    username: sa
    password: 123456
  h2:
    console:
      path: /h2
      enabled: true
      settings:
        web-allow-others: true

flashback:
  data-dir: /home/postgres/backups
  backup-shell-path: /var/lib/postgresql/start_backup.sh
  restore-shell-path: /var/lib/postgresql/start_restore.sh

#  data-dir: /opt/gant/dbmt/mock/baseline/flashbackups
#  backup-shell-path: /opt/gant/dbmt/mock/start-backup.sh
#  restore-shell-path: /opt/gant/dbmt/mock/restore-backup.sh