<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>数据库管理工具</title>
  <link rel="icon" href="/gtlogo.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
</head>
<script>
  window.realHost = window.location.origin;
</script>
<body>
  <div id="root"></div>
</body>
</html>
